fastapi
uvicorn
python-dotenv
sentence-transformers
chromadb
PyPDF2
streamlit
requests
langchain
langchain-community
langchain-huggingface
groq
numpy
fpdf


![RAG Response](assets/AgriSmart_2.png)
![RAG Response](assets/AgriSmart_3.png)